[Desktop Entry]
Name=Silk
GenericName=Silk
Comment=A practical frontend to multiple slackware package management tools
Exec=silk-shell
Icon=/usr/share/pixmaps/silk.png
Terminal=true
Type=Application
Categories=System;
StartupNotify=false
